{% macro attrib(key, prop, required) -%}
    {{ key }}: {{ prop|type_annotation(key in required) }} = attrib(
        validator=[
            {{ prop|validators }}
        ],
        {% if prop|converter %}
        converter={{ prop|converter }},  # type: ignore
        {% endif %}
        {% if prop|default(key in required) %}
        default={{ prop|default(key in required) }},
        {% endif %}
    )
{%- endmacro %}
from typing import ClassVar, List, Union

from attr import attrs, attrib
from statham import validators as val
from statham.converters import (
    AnyOf,
    Array,
    instantiate,
    OneOf,
)
from statham.validators import NotPassed
{% for schema in schemas %}


@attrs(kw_only=True)
class {{ schema.title }}:
    """{{ schema.description }}"""

    _required: ClassVar[List[str]] = {{ schema.required }}

{% for key, prop in schema.properties.items() %}
    {{ attrib(key, prop, schema.required) }}
{% endfor %}
{% endfor %}