.git/
.idea/
.mypy_cache/
.venv*/
cover/
*__pycache__/
id_rsa
.coverage
src/
venv/
*test_results.xml
.vscode/.ropeproject/config.py
.vscode/.ropeproject/objectdb
.cache
.pip
.log
.vscode/
test_data/
.envrc

*.pyc
.pytest_cache/
*.sql
docs/

*.egg-info
build*
dist*